@page "/"

<h1>Welcome!</h1>

<AuthorizeView>
    <Authorized>
        <h3>User Claims</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in context.User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        Login to view Claims details
    </NotAuthorized>
</AuthorizeView>

